<section id="two" class="wrapper alt style2">

    <section class="spotlight">
        <div class="image"><img src="assets/images/champselect.gif" alt="" /></div><div class="content">
            <h2>PICKING YOUR<br />
            CHAMPION AND ROLES</h2>
            <p>In League Of Legends, there are a lot of characters or champions as they call it. Each champtions have their own design, abilities and roles. Picking a champion can be hard since it's all about your play style. There are five roles in the game; Top laner, Mid Laner, Attack Damage Carry (ADC), Jungler and Support. Each roles have different impact in the game that you can use in order to win a match! You can learn more about the Champions and their Roles <a href="https://leagueoflegends.fandom.com/wiki/List_of_champions"><u>HERE</u></a>.</p>
        </div>
        </section>

    <section class="spotlight">
    <div class="image"><img src="assets/images/objectives.gif" alt="" /></div><div class="content">
        <h2>OBJECTIVES</h2>
        <p>It is very easy to tell which team has an upper hand as the game continues because of the number of objectives they took during the match. Getting objectives like <u><a href="https://leagueoflegends.fandom.com/wiki/Dragon">Dragons</a></u>, <u><a href="https://leagueoflegends.fandom.com/wiki/Rift_Herald">Rift Herald</a></u> and <a href="https://leagueoflegends.fandom.com/wiki/Baron_Nashor"><u>Barron</u></a> can give you a very big potential of winning the game, so do you best to capture more objectives for your team!</p>
    </div>
    </section>



<section class="spotlight">
    <div class="image"><img src="assets/images/victory.gif" alt="" /></div><div class="content">
        <h2>WIN A MATCH</h2>
        <p> To WIN and END the match in League of Legends, you have to push your opponents turret, destroy their enhibitors and finish off the their <u><a href="https://leagueoflegends.fandom.com/wiki/Nexus">NEXUS</a></u>. Of course this isn't that easy to do if you are facing a very competitive oppotent. But just like the those other online games, TEAM WORK is the key to achieve an overwhelming VICTORY! </p>
    </div>
</section>
